In [6]:
import pandas as pd
data1 = pd.read_csv('104年在職教師年齡層、各教育階段公私立別人數之情況.csv')
data1.head()

,年齡層,總計,百分比,合計公立,合計私立,幼兒園公立,幼兒園私立,國民小學公立,國民小學私立,國民中學公立,國民中學私立,高級中學公立,高級中學私立,高級職業學校公立,高級職業學校私立,特殊教育學校公立,矯正學校公立
0,103年度,"194,717",0.00,"170,541","24,176","5,255","6,600","86,746","1,499","44,996",511.00,"21,498","11,889","10,433","3,677","1,537",76.00
1,104年度,"192,035",100.00,"168,631","23,404","5,790","6,323","85,349","1,499","44,033",386.00,"21,465","11,770","10,391","3,426","1,526",77.00
2,平均年齡,41.58,0.00,41.49,42.22,40.04,42.1,42.25,38.26,40.27,41.05,41.26,42.6,41.9,43.02,39.66,43.38
3,22-29,"11,211",5.84,"9,213","1,998",895,685,"2,881",138,"3,361",25.00,"1,319",920,553,230,202,2.00
4,30-34,"24,713",12.87,"21,212","3,501",839,822,"8,340",434,"7,009",58.00,"3,196","1,732","1,510",455,312,6.00

In [7]:
data2 = pd.read_csv('104年在職教師學歷、公私立別、教育階段之情況.csv')
data2.head()

    教育階段 公私立別      合計    專科  專科百分比     大學  大學百分比      碩士  碩士百分比    博士  博士百分比
0  103年度   總計  194717  1362   0.70  92630  47.57   98331  50.50  2394   1.23
1  104年度   總計  192035  1248   0.65  84516  44.01  103709  54.01  2562   1.33
2  104年度   公立  168631   309   0.18  70710  41.93   95234  56.47  2378   1.41
3  104年度   私立   23404   939   4.01  13806  58.99    8475  36.21   184   0.79
4    幼兒園   小計   12113   944   7.79   8640  71.33    2514  20.75    15   0.12

In [8]:
data3 = pd.read_csv('104年在職教師任教學校所屬縣市、公私立別、教育階段之情況.csv')
data3.head()

  任教學校所屬縣市 公私立別    合計(人)     幼兒園    國民小學    國民中學    高級中學  高級職業學校 特殊教育學校  矯正學校
0    104年度   總計  192,035  12,113  86,848  44,419  33,235  13,817  1,526    77
1    104年度   公立  168,631   5,790  85,349  44,033  21,465  10,391  1,526    77
2    104年度   私立   23,404   6,323   1,499     386  11,770   3,426      0     0
3      新北市   小計   26,463   1,683  12,819   5,564   4,803   1,523     71     0
4      新北市   公立   23,222   1,071  12,537   5,564   3,233     746     71     0

In [9]:
data4 = pd.read_csv('104年合格代理教師教學校所屬縣市&教育階段百分比之情況.csv')
data4.head()

  任教學校\n所屬縣市      總計    幼兒園    國民小學   國民中學   高級中學 高級職業學校  特殊教育學校  矯正學校
0      104年度  20,335  1,196  11,057  4,648  2,289  1,018     123     4
1        新北市   2,975    116   1,843    606    347     61       2     0
2        臺北市   2,478    143   1,098    613    453    154      17     0
3        桃園市   1,631     39     927    459    176     24       6     0
4        臺中市   2,196     50   1,210    565    259     91      21     0

In [11]:
data5 = pd.read_csv('104年師資格檢定情況.csv')
data5.head()

      年度  師資類科   應考人數   到考人數   通過小計    通過率
0  103年度    總計  8,924  8,494  5,224  61.50
1  104年度    總計  8,415  8,090  4,287  52.99
2  104年度   幼兒園  1,393  1,322    509  38.50
3  104年度  國民小學  2,322  2,227    978  43.92
4  104年度  中等學校  3,871  3,735  2,261  60.54